.todoItemList {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.removeItem {
  align-self: flex-start;
  margin-top: -15px;
  padding-right: 10px;
}
.removeItem:hover {
  color: red;
}
.TodoItem-p {
  text-align: center;
  padding: 10px;
}
.TodoItem-p--complete {
  text-decoration: line-through;
}
.todoItemList span:nth-child(1) {
  padding-left: 10px;
}
.icon-check-active {
  stroke: #4caf50;
}
