ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0 0 0;
  padding: 0;
  gap: 24px;
}
li {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}
li {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.removeItem {
  align-self: flex-start;
  margin-top: -10px;
  padding-right: 10px;
}
.removeItem:hover {
  color: red;
}
p {
  text-align: center;
  padding: 10px;
}
.TodoItem-p--complete {
  text-decoration: line-through;
}
li span:nth-child(1) {
  padding-left: 10px;
}
.icon-check-active {
  stroke: #4caf50;
}
